[Unit]
Description=Pi Garage Door Output Pin Initializer

[Service]
Type=simple
ExecStart=/usr/bin/pigaragedoor
 
[Install]
WantedBy=multi-user.target